
<h5 class="card-title text-center pb-2 pt-3 my-5">Welcome Amine Jbali !</h5>

<div class="container my-5">
    <div class=" card card-list ">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col" class="">matricule</th>
                            <th scope="col" class="">Date de mouvement</th>
                            <th scope="col" class="">Résultat</th>
                            <th scope="col" class="">nom etb prénom</th>
                            <th scope="col" class="">Site Centralisateur</th>
                            <th scope="col" class="">Etablissement</th>
                           
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td class="py-3">09602113</td>
                            <td class="fw-regular py-3">07/01/2025 18:02:35</td>
                            <td class="fw-regular py-3"> Succes </td>
                            <td class="fw-regular py-3">Ahmed Ghouil</td>
                            <td class="fw-regular py-3">Poulina</td>
                            <td class="fw-regular py-3">Ste_Poulina Group Holding</td>
                           
                        
                           
                        </tr>

                        <tr>
                            <td class="py-3">09602113</td>
                            <td class="fw-regular py-3">07/01/2025 18:02:35</td>
                            <td class="fw-regular py-3"> Succes </td>
                            <td class="fw-regular py-3">Ahmed Ghouil</td>
                            <td class="fw-regular py-3">Poulina</td>
                            <td class="fw-regular py-3">Ste_Poulina Group Holding</td> 
                           
                        
                         
                          
                        </tr>

                        <tr>
                            <td class="py-3">09602113</td>
                            <td class="fw-regular py-3">07/01/2025 18:02:35</td>
                            <td class="fw-regular py-3"> Succes </td>
                            <td class="fw-regular py-3">Ahmed Ghouil</td>
                            <td class="fw-regular py-3">Poulina</td>
                            <td class="fw-regular py-3">Ste_Poulina Group Holding</td>
                            
                        </tr>
                        <tr>
                            <td class="py-3">09602113</td>
                            <td class="fw-regular py-3">07/01/2025 18:02:35</td>
                            <td class="fw-regular py-3"> Succes </td>
                            <td class="fw-regular py-3">Ahmed Ghouil</td>
                            <td class="fw-regular py-3">Poulina</td>
                            <td class="fw-regular py-3">Ste_Poulina Group Holding</td>
                        
                        </tr>
                        <tr>
                            <td class="py-3">09602113</td>
                            <td class="fw-regular py-3">07/01/2025 18:02:35</td>
                            <td class="fw-regular py-3"> Succes </td>
                            <td class="fw-regular py-3">Ahmed Ghouil</td>
                            <td class="fw-regular py-3">Poulina</td>
                            <td class="fw-regular py-3">Ste_Poulina Group Holding</td>
                        
                        </tr>
                        <tr>
                            <td class="py-3">09602113</td>
                            <td class="fw-regular py-3">07/01/2025 18:02:35</td>
                            <td class="fw-regular py-3"> Succes </td>
                            <td class="fw-regular py-3">Ahmed Ghouil</td>
                            <td class="fw-regular py-3">Poulina</td>
                            <td class="fw-regular py-3">Ste_Poulina Group Holding</td>
                        
                        </tr>
                        <tr>
                            <td class="py-3">09602113</td>
                            <td class="fw-regular py-3">07/01/2025 18:02:35</td>
                            <td class="fw-regular py-3"> Succes </td>
                            <td class="fw-regular py-3">Ahmed Ghouil</td>
                            <td class="fw-regular py-3">Poulina</td>
                            <td class="fw-regular py-3">Ste_Poulina Group Holding</td>
                        
                        </tr>
                        <tr>
                            <td class="py-3">09602113</td>
                            <td class="fw-regular py-3">07/01/2025 18:02:35</td>
                            <td class="fw-regular py-3"> Succes </td>
                            <td class="fw-regular py-3">Ahmed Ghouil</td>
                            <td class="fw-regular py-3">Poulina</td>
                            <td class="fw-regular py-3">Ste_Poulina Group Holding</td>
                        
                        </tr>
                        <tr>
                            <td class="py-3">09602113</td>
                            <td class="fw-regular py-3">07/01/2025 18:02:35</td>
                            <td class="fw-regular py-3"> Succes </td>
                            <td class="fw-regular py-3">Ahmed Ghouil</td>
                            <td class="fw-regular py-3">Poulina</td>
                            <td class="fw-regular py-3">Ste_Poulina Group Holding</td>
                        
                        </tr>
                    </tbody>
                </table>
    
            </div>
        </div>
    </div>
